<div class="modal" id="accountModal">

    <div class="modal-card small-modal">

        <button class="close-btn" data-close="account">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <div class="tabs">
            <button class="tab active">Login</button>
            <button class="tab">Sign Up</button>
        </div>

        <form class="auth-form active">
            <h3>Welcome Back</h3>

            <input type="email" placeholder="Email address">
            <input type="password" placeholder="Password">

            <button type="button" class="gold-btn full">
                Login
            </button>
        </form>

    </div>

</div>