<footer class="footer" id="footer">
    <div>
        <h3>Royal<span>Aura</span></h3>
        <p>A premium jewellery shopping experience for modern luxury lovers.</p>
    </div>

    <div>
        <h4>Store Links</h4>
        <a href="#products">Shop</a>
        <a href="#categories">Collections</a>
        <a href="#track">Track Order</a>
        <a href="#">Return Policy</a>
    </div>

    <div>
        <h4>Contact</h4>
        <p>Dhaka, Bangladesh</p>
        <p>+880 1234-567890</p>
        <p>support@royalaura.com</p>
    </div>

    <div>
        <h4>Social</h4>

        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    </div>
</footer>