<div class="overlay" id="overlay"></div>

<aside class="mobile-sidebar" id="mobileSidebar">
    <button class="close-btn" id="menuClose">
        <i class="fa-solid fa-xmark"></i>
    </button>

    <a href="#" class="logo sidebar-logo">Royal<span>Aura</span></a>

    <a href="#home">Home</a>
    <a href="#categories">Collections</a>
    <a href="#products">Shop</a>
    <a href="#track">Track Order</a>
    <a href="#footer">Contact</a>

    <button class="sidebar-btn" id="mobileThemeToggle">
        <i class="fa-solid fa-circle-half-stroke"></i> Toggle Theme
    </button>
</aside>