
  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-left">
      <span><i class="fa-solid fa-phone"></i> Hotline: +880 1234-567890</span>
      <span><i class="fa-solid fa-envelope"></i> support@royalaura.com</span>
    </div>

    <div class="top-right">
      <select id="currencySelect">
        <option value="BDT">BDT</option>
        <option value="USD">USD</option>
      </select>

      <select>
        <option>Bangladesh</option>
        <option>United States</option>
        <option>United Kingdom</option>
      </select>
    </div>
  </div>